*{
    box-sizing: border-box;
}

body{
    padding: 0;
    margin: 0;
    font-family: "Montserrat", sans-serif;
}

/* heading-container */
.heading-con
{
  height: 4vh;
  background-color: #218c74;
  color: #f1f2f6;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.25rem;
  font-weight: 700;
}

/* page-actions-container */
.page-actions-cont
{
    height: 5vh;
    background-color: #218c74;   
    color: #f1f2f6;
    display: flex;
}

/* Home,File,Insert,Layout,Help */
.page-action
{
    height:100%;
    padding: 0 1rem;
    color: #f1f2f6;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-weight: 500;
}

/* Color Change Logic */
.page-action:hover {
    background-color: #f1f2f6;
    color: #218c74;
}

#file
{
    color: #218c74; 
    background-color: #f1f2f6;
}

/* Cell Properties Container : Cut,Copy,Paste,Bold,Italic,UnderLine,etc.. */
.cellprop-actions-cont
{
    height: 6vh;
    background-color: #f1f2f6;
    display: flex;
    align-items: center;
    padding-left: 1rem;
}

.cellprop-actions-cont > *{
    display: inline-block;
    margin-right: 1.2rem;
}

.cellprop-actions-cont > *:hover{
    cursor : pointer;
}

.font-family-prop
{
    padding: 0.4rem;
}

.cellprop-actions-cont > select
{
    border: 0.6px solid;
    border-radius: 4px;
}

.font-size-prop
{
    padding: 0.3rem;
}

/* Address Bar and Formula Bar */
.formula-actions-cont
{
    height: 7vh;
    background-color: #ecf0f1;
    display: flex;
    align-items: center;
}

.formula-actions-cont > *{
    height: 60%;
}

.address-bar{
  background-color: #fff;
  width: 10%;
  margin: 0 1rem;
  padding: 0.5rem;
  border: 1px solid;
  border-radius: 0.25rem;
  display: flex;
  align-items: center;
  font-size: 1.125rem;
  font-weight: 500;
  justify-content: center;
}

.formula-bar{
  outline: none;
  border-radius: 0.25rem;
  width: 90%;
  margin: 0 1rem;
  padding: 0.5rem;
  border: 1px solid;
  font-size: 1.125rem;
}

/* Sheets Container */
.sheet-actions-cont
{
    height: 8vh;
    background-color: #ecf0f1;
    color: #218c74;
    display: flex;
    align-items: center;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    gap: 1rem;
}

.sheet-actions-cont > *{
    display: inline-block;
}

.sheet-add-icon{
    width: 2vw;
}

.sheets-folder-cont
{
    height: 80%;
    width: calc(100vw - 2vw);
    margin-left: 1rem;
    display: flex;
    align-items: center;
}

.sheet-folder
{
    text-decoration: underline;
    font-weight: bold;
    text-decoration-thickness: 3px;
    font-size: 0.9rem;
    padding-left: 1rem;
}

.grid-cont
{
    height: calc(100vh - 30vh);
    background-color: #ecf0f1;
    position: relative;
    overflow: scroll;
}

.top-left-dummy-box
{
    height: 2.25rem;
    width: 2.5rem;
    background-color: #747d8c;
    /* position: fixed; */
    z-index: 1;
}

.address-col-cont
{
    /* position: sticky; */
    top: 2.25rem;
    left: 0;
}

.cells-cont{
    position: absolute;
    top: 0rem;
    left: 2.5rem;
}

.address-row-cont
{
    display: flex;
    /* position: sticky; */
    top: 0;
    left: 2.5rem;
}

.address-col
{
    height: 2.25rem;
    width: 2.5rem;
    text-align: center;
    border: 1px solid #808286;
    display: flex;
    justify-content: center;
    align-items: center;
}

.address-row
{
    height: 2.25rem;
    width: 8rem;
    text-align: center;
    border: 1px solid #808286;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cell
{
    height: 2.25rem;
    width: 8rem;
    border: 1px solid #808286;
    outline: none;
}

.row-cont
{
    display: flex;

}

.color-prop {
    position: relative;
}
.color-prop > input {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
